# Ignore compiled Python bytecode files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
env/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.iml
*.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore sensitive data
credentials.json